{% extends 'roadmaps/base.html' %}
{% block title %}{{ roadmap.title }} | Roadmapp{% endblock %}
{% block content %}
<div class="wrapper bg-light">
    <header class="shadow bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-5 pb-0 text-dark"> 
                    <div>
                        <h1 style="display: inline-block;">{{ roadmap.title }}</h1>
                        <span style="display: inline-block;">by <a href="#">{{ roadmap.owner }}</a></span> <!-- En el link sin completar iría el link al user -->
                        {% if start_roadmap_message %}
                            <form class="spacer" action="{% url 'join_roadmap' roadmap.id %}" method="post" style="display: inline-block;">
                                {% csrf_token %}
                                <input class="btn btn-primary ml-1 mb-3" type="submit" value="Join Roadmap"/>
                            </form>
                        {% endif %}
                    </div>
                    <div>
                        <p><a href="{% url 'roadmap_list' %}">Roadmaps</a> /
                            {% if roadmap.parent_roadmap.parent_roadmap %}... /{% endif %}
                            {% if roadmap.parent_roadmap %}<a href="{% url 'roadmap_detail' roadmap.parent_roadmap.id %}">{{ roadmap.parent_roadmap.title }}</a> /{% endif %}
                            {{ roadmap.title }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class=" py-5">
        <div class="container-fluid">
            <div class="row mb-5" id="project_background">
                <div class="col-2 ml-auto " id="section_title">
                    <hr class="mb-0 shadow dark mr-0" style="border: 2px solid rgb(177, 177, 177); border-radius: 2px; width:11em;">
                    <h2 class="pt-0 mt-0 pl-2 text-right mr-1">Description</h2>
                </div>
                <div class="col-6 mr-auto pt-4" id="objectives_and_summary">
                    <div class="row" id="roadmap_objectives">
                        <div class="container">
                            <h6 class="px-3 pb-2">{{ roadmap.objectives }}</h6>
                        </div>
                    </div>
                    <div class="row" id="roadmap_summary">
                        <div class="container">
                            <div class="card shadow">
                                <div class="row px-4 pt-4" id="topics_and_methodsresources">
                                    <div class="col-4" id="topics">
                                        <h6>TOPICS</h6>
                                        <p>
                                        {% if roadmap.topics|length < 2 %}
                                            {{ roadmap.topics }}
                                        {% else %}
                                            <ul>
                                            {% for topic in roadmap.topics %}
                                                <li>{{ topic }}</li>
                                            {% endfor %}
                                            </ul>                                          
                                        {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-8" id="methods_and_resources">
                                        <h6>METHODS AND RESOURCES</h6>
                                        {{ roadmap.methods_and_resources }}
                                    </div>
                                </div>
                                <div class="row px-4 pb-4 pt-3" id="lastupdated_and_estimatedtime">
                                    <div class="col-4" id="last_updated">
                                        <h6>LAST UPDATED</h6>
                                        {{ roadmap.updated_at }}
                                    </div>
                                    <div class="col-8" id="estimated_time">
                                        <h6>ESTIMATED TIME TO FINISH</h6>
                                        {{ roadmap.estimated_time }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5" id="project_units">
                <div class="col-2 ml-auto" id="section_title">
                    <hr class="mb-0 shadow dark mr-0" style="border: 2px solid rgb(177, 177, 177); border-radius: 2px; width: 5em;">
                    <h2 class="pt-0 mt-0 pl-2 text-right mr-1">Units</h2>   
                </div>
                <div class="col-6 mr-auto pt-4" id="units">
                    <div class="shadow" id="accordion">
                        {% for unit in unit_list %} <!-- unit: unit o roadmap -->
                            {% if unit.model_name == 'unit' %}
                                <!-- <a href="{% url 'unit_detail' unit.id %}"> -->
                                        <div class="card">
                                            <div class="card-header bg-white" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ unit.id }}" aria-expanded="true"
                                                        aria-controls="collapse{{ unit.id }}">
                                                        <h5 class="pl-1 pt-1">{{ unit }}</h5>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse{{ unit.id }}" class="collapse" aria-labelledby="heading{{ unit.id }}" data-parent="#accordion">
                                                <div class="card-body">
                                                    <h5>Objectives</h5>
                                                    <p>{{ unit.objectives }}</p>
                                                    <a class="btn btn-primary mt-4" href="{% url 'unit_detail' unit.id %}" role="button">Go to Unit</a>
                                                    <a class="btn btn-primary mt-4" href="{% url 'unit_detail' unit.id %}" role="button">Mark as Finished</a>
                                                </div>
                                            </div>
                                        </div>
                    
                            {% else %}
                                <!-- Lo que pasa para los roadmaps: una card sin acordión -->
                                <div class="card-header bg-white" id="heading{{ item.id }}">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapseOne">
                                        <a href="{% url 'roadmap_detail' unit.id %}"><h5 class="mb-0">{{ unit }}</h5><a href="{% url 'roadmap_detail' unit.id %}"></a>
                                    </button>
                                    <!-- Éste el checkbox a modificar -->
                                    <!-- <div class="custom-control custom-checkbox float-right mt-2">
                                        <input class="custom-control-input" type="checkbox" id="checkbox-1" checked="">
                                        <label class="custom-control-label" for="checkbox-1"></label>
                                    </div>    -->
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>        
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}








