{% extends 'roadmaps/base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="wrapper bg-light pt-5" style="min-height: 750px;" >
    <div class="container col-12 col-sm-11 col-md-9 col-lg-8 col-xl-6">
        <div class="card">
            <div class="card-body">
                <p class="m-auto p-2">
                    We've emailed you instructions for setting your password, if an account exists with the email you entered.
                    You should receive them shortly.
                  </p>
                  <p class="m-auto p-2">
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                  </p>
                  <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}