{% extends "roadmaps/base.html" %}



{% block title %}Roadmapp{% endblock %}

{% block content %}
{% load crispy_forms_tags %}



<div class="wrapper bg-light pt-5" style="min-height: 750px;" >
    <div class="container col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="card">
            <div class="card-body">
                {% if validlink %}
                    <form method="post">{% csrf_token %}
                        <fieldset class="module aligned">
                            <div class="form-row field-password1">
                                {{ form.new_password1.errors }}
                                
                                {{ form.new_password1|as_crispy_field }}
                            </div>
                            <div class="form-row field-password2">
                                {{ form.new_password2.errors }}
                                
                                {{ form.new_password2|as_crispy_field }}
                            </div>
                            <button class="btn btn-primary mr-2" type="submit">Change Password</button>
                        </fieldset>
                    </form>
                    
                    {% else %}

                    <p>"The password reset link was invalid, possibly because it has already been used.  Please request a new password reset."</p>

                    {% endif %}
                    
            </div>
        </div>
    </div>
</div>


<p>"Please enter your new password twice so we can verify you typed it in correctly."</p>



{% endblock %}